/* font-family: 'Poppins', sans-serif; */
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.55); */
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    background-color: #F0FFF0;
    min-height: 100vh;
}
.navbar-brand img{
    width: 15%;
}
.hero-content{

}
.hero-content h5{

color: background: #FD511A;

color: : #FD511A;

color: #FD511A;

font-size: 16px;

line-height: 24px;

font-weight: 400;
}
.hero-content h2{

color: #000000;

font-size: 48px;

line-height: 70px;
}
.hero-content h2 span{
    color: #21B573;
}
.hero-content p{

color: #6C6B6B;

font-size: 16px;

line-height: 36px;

font-weight: 400;
}
.btn-custom{

color: #fff;

background: #21B573;

font-size: 16px;

line-height: 19px;

padding: 10px 20px;

border-radius: 50px;
}
.btn-custom:hover{
    background-color: #196341;
    color: #fff;
}
.feature-content{

background-color: #F0FFF0;

padding: 50px 0px;
}
.feature-content img{

width: 70px;


}
.feature-content h2{

font-weight: 500;

color: #413960;

font-size: 24px;

line-height: 36px;

margin-top: 10px;
}
.feature-content p{
    
font-size: 16px;
    
line-height: 24px;
    

    
padding-bottom: -8px;
    
margin-top: -9px;
}
.feature-content:hover{
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.course-content{
background-color: #fff;
padding: 20px;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}
.course-content img{

}
.course-content h2{

font-weight: 500;

font-size: 24px;

line-height: 36px;

color: #413960;

margin-top: 15px;
}
.course-content h5{

font-weight: 400;

font-size: 16px;

line-height: 24px;

color: #585859;
}
.course-content a{

background: #21B573;

border-radius: 33px;

margin-bottom: 15px;
}
.course-content ul{

list-style: none;

display: flex;

justify-content: space-between;

margin: 0;

padding: 0;
}
.course-content ul li{

color: #585859;

font-weight: 500;

font-size: 16px;

line-height: 24px;
}
.course-content ul li i{
padding-right: 10px;
}
.heading h1{
    text-align: center;
    font-size: 36px;
line-height: 54px;
color: #413960;
font-weight: 700;
}
.client{

width: 30%;

margin-left: auto;

border: 1px solid #959494;

overflow: hidden;

border-radius: 50px;
}

.forp p{
   color: black;
font-size: 18px;
}
footer{

background-color: #282531;

color: #fff;

margin-top: 50px;

padding: 50px 0px;
}
footer p{

}
footer ul{

list-style: none;

margin: 0;

padding: 0;
}
footer ul li{
   font-weight: 200; 
}
footer ul li:first-child{
    font-weight: 600;
}
.copyright p{
   text-align: center;
   font-size: 13px;
  padding-top: 35px;
}
.btn-course{
    color: #fff;
}
.btn-course:hover{
    background-color: #196341;
    color: #fff;
}